@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/inter-v18-cyrillic_latin-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/inter-v18-cyrillic_latin-600.woff2") format("woff2");
}

:root {
  /* font-color */
  --font-primary-color: #555;
  --font-accent-color: #1c1c1c;
  --font-white-color: #fff;

  /*font-size*/
  --font-size-small: 12px;
  --font-size-standart: 16px;
  --font-size-accent: 18px;
  --font-size-menu: 24px;
  --font-size-title: 40px;

  /* line-height */
  --line-height-standart: 1.33333;
  --line-height-small: 1.2;
  --line-height-big: 1.5;

  /* font-weight */
  --font-weight-standart: 400;
  --font-weight-bold: 600;
  /*linear-gradient*/
  --linear-gradient-start: #fedd2c;
  --linear-gradient-end: #f9c201;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--font-primary-color);
  font-size: var(--font-size-standart);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-standart);
  min-width: 1440px;
}

ol,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

/* HEADER */

.header {
  background: linear-gradient(
    90deg,
    var(--linear-gradient-start) 0%,
    var(--linear-gradient-end) 100%
  );
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  gap: 24px;
}

.header__img {
  display: block;
}

.main-menu__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.main-menu__link {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-standart);
  line-height: var(--line-height-big);
  color: var(--font-primary-color);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact__phone {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-accent);
  line-height: var(--line-height-standart);
  color: var(--font-primary-color);
}

.contact__time {
  font-weight: var(--font-weight-standart);
  font-size: var(--font-size-small);
  line-height: var(--line-height-standart);
  color: var(--font-primary-color);
}

/* MENU */

.menu {
  padding-top: 32px;
}

.menu__title {
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  line-height: var(--line-height-small);
  color: var(--font-accent-color);
}

.menu__title--bottom {
  margin-bottom: 32px;
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(4, 304px);
  gap: 32px;
}

.card__menu {
  display: block;
  object-fit: cover;
  height: 304px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.card__menu::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.card__link {
  position: absolute;
  left: 16px;
  bottom: 16px;

  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-menu);
  line-height: var(--line-height-standart);
  color: var(--font-white-color);
}
