.header {
  background: linear-gradient(
    90deg,
    var(--linear-gradient-start) 0%,
    var(--linear-gradient-end) 100%
  );
}

.header__delivery {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  background-color: var(--font-accent-color);
}

.header__delivery-text {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-accent);
  line-height: var(--line-height-standart);
  color: var(--font-white-color);
}

.header__delivery-button {
  padding: 0;
  margin: 0;
  font-size: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.header__img {
  display: block;
}

.header__right-block {
  display: flex;
  align-items: center;
  column-gap: 64px;
}

.main-menu__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.main-menu__link {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-standart);
  line-height: var(--line-height-big);
  color: var(--font-primary-color);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact__phone {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-accent);
  line-height: var(--line-height-standart);
  color: var(--font-primary-color);
  letter-spacing: 0.1px;
}

.contact__time {
  font-weight: var(--font-weight-standart);
  font-size: var(--font-size-small);
  line-height: var(--line-height-standart);
  color: var(--font-primary-color);
}

.account {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.account__login,
.account__basket {
  max-height: 48px;
  max-width: 56px;
  padding: 12px 16px;
  outline: none;
  border: 2px solid var(--font-accent-color);
  border-radius: 16px;
  font-size: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account__login {
  background-color: transparent;
}
.account__basket {
  background-color: var(--font-accent-color);
}
