:root {
  /* font-color */
  --font-primary-color: #555;
  --font-accent-color: #1c1c1c;
  --font-white-color: #fff;

  /*font-size*/
  --font-size-small: 12px;
  --font-size-standart: 16px;
  --font-size-accent: 18px;
  --font-size-menu: 24px;
  --font-size-title: 40px;

  /* line-height */
  --line-height-standart: 1.33333;
  --line-height-small: 1.2;
  --line-height-big: 1.5;

  /* font-weight */
  --font-weight-standart: 400;
  --font-weight-bold: 600;
  /*linear-gradient*/
  --linear-gradient-start: #fedd2c;
  --linear-gradient-end: #f9c201;
}
