.for-visitors__list {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.for-visitors__link {
  max-width: 640px;
  height: 360px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.for-visitors__link::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.for-visitors__info-left-list {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 8px;
  top: 32px;
  left: 32px;
}
.for-visitors__item {
  font-size: 0;
}

.for-visitors__info-item {
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-info);
  line-height: var(--line-height-info);
  color: var(--font-white-color);
}

.for-visitors__info-right-list {
  position: absolute;
  top: 32px;
  right: 32px;
}

.for-visitors__status {
  padding: 8px;
  border-radius: 8px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-info);
  line-height: var(--line-height-info);
  color: var(--font-accent-color);
  background-color: var(--linear-gradient-start);
}

.for-visitors__status--old {
  color: var(--font-white-color);
  background-color: var(--font-grey-color);
}

.for-visitors__title {
  position: absolute;
  bottom: 32px;
  left: 32px;
  right: 32px;

  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-visitors-title);
  line-height: var(--line-height-visitors-title);
  color: var(--font-white-color);
}
.for-visitors__img {
  /* object-fit: cover; */
  object-position: top;
}
