.header {
  background: linear-gradient(
    90deg,
    var(--linear-gradient-start) 0%,
    var(--linear-gradient-end) 100%
  );
}

.header__delivery {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  background-color: var(--font-accent-color);
}

.header__delivery-text {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-accent);
  line-height: var(--line-height-standart);
  color: var(--font-white-color);
}

.header__delivery-button {
  padding: 0;
  margin: 0;
  font-size: 0px;
  background-color: transparent;
  border: none;
  outline: 1px solid transparent;
  outline-offset: 2px;
  cursor: pointer;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.header__delivery-button:focus-visible {
  border-radius: 50%;
  outline: 2px solid var(--font-primary-color);
}

.header__logo:focus-visible {
  border-radius: 4px;
}

.header__img {
  display: block;
}

.header__right-block {
  display: flex;
  align-items: center;
  column-gap: 64px;
}
