:root {
  /* font-color */
  --font-primary-color: #555;
  --font-accent-color: #1c1c1c;
  --font-white-color: #fff;
  --font-grey-color: #727272;
  --font-footer-color: #a6a6a6;
  --button-light-color: #f4f4f4;
  --button-hover-color: #e8e8e8;
  --font-hover-color: #393939;
  --badge-green-color: #1daa0f;
  --badge-orange-color: #fc7d04;
  --badge-blue-color: #0094e4;
  --footer-border-color: #393939;

  /*font-size*/
  --font-size-small: 12px;
  --font-size-info: 14px;
  --font-size-standart: 16px;
  --font-size-accent: 18px;
  --font-size-menu: 24px;
  --font-size-visitors-title: 32px;
  --font-size-title: 40px;

  /* line-height */
  --line-height-standart: 1.33333;
  --line-height-small: 1.2;
  --line-height-visitors-title: 1.25;
  --line-height-big: 1.5;
  --line-height-info: 1.42857;

  /* font-weight */
  --font-weight-standart: 400;
  --font-weight-bold: 600;

  /*linear-gradient*/
  --linear-gradient-start: #fedd2c;
  --linear-gradient-end: #f9c201;
}
